* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  background-image: url(pizz1.png);
  background-size: cover;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: radial-gradient(circle, rgba(131,58,180,1) 4%, rgba(52,205,92,1) 38%, rgba(252,176,69,1) 71%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    input {
        padding: 8px;
        font-size: 14px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }
}
